@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  scroll-behavior: smooth;
}
@media (max-width: 576px) {
  .calendar-table th,
  .calendar-table td {
    font-size: 0.7rem !important;
    padding: 0.1rem !important;
  }

  .calendar-table .date-circle {
    width: 20px !important;
    height: 20px !important;
    font-size: 0.7rem !important;
  }

  .progress {
    height: 10px !important;
  }

  .card img {
    width: 80px !important;
    height: 80px !important;
  }
}

.progress-bar {
  font-weight: bold;
}

.card {
  border-radius: 12px;
}

ul {
  padding-left: 20px;
}
